%description-12 {
  font-family: $font-suisse-bp;
  font-size: 1.2rem;
}

%description-14 {
  font-family: $font-suisse-bp;
  font-size: 1.4rem;
}

%description-16 {
  font-family: $font-suisse-bp;
  font-size: 1.6rem;
  font-weight: 300;
}
