%vertical__titles {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  margin: 0 3rem;
}

%vertical__titles__label {
  @extend %description-12;

  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(90deg);
  color: $color-athens-gray;

  @include media('<phone') {
    font-size: 1.2rem
  }
}

%vertical__titles__title {
  @extend %title-200;

  padding-top: 2rem;
}
